# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules

# testing
**/coverage
**/junit.xml

# production
**/dist
**/storybook-static

# misc
.DS_Store

*package-lock.json
lerna-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.npmrc
.history

# This is really not ignored. This line has been added to avoid issues with prettier when publishing and pushing a version.
lerna.json
